

<div class="footer-padding"></div>
  <div class="footer">
    <div class="icons">
      <i class="fa-brands fa-instagram fa-2x"></i>&nbsp&nbsp&nbsp&nbsp
      <i class="fa-brands fa-twitter fa-2x"></i>&nbsp&nbsp&nbsp&nbsp
      <i class="fa-brands fa-facebook fa-2x"></i>
    </div>
    <p style="padding-top:30px 0px 0px; font-weight:lighter;">contact me at : prernadabi24@gmail.com</p>
    <p style="font-weight:lighter;">© 2022 LUNA <i class="fa-sharp fa-solid fa-moon fa-1x"></i> </p>
  </div>

</body>
</html>
