<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>LUNA</title>
  <meta charset="utf-8">
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

   <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/40d5373f5a.js" crossorigin="anonymous"></script>

   <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Caramel&family=Jost&family=Noto+Serif+NP+Hmong&display=swap" rel="stylesheet">
  <style> @import url('https://fonts.googleapis.com/css2?family=Caramel&family=Jost&family=Noto+Serif+NP+Hmong&display=swap'); </style>
   <!-- css stylesheet -->
  <link rel="stylesheet" href="/css/styles.css">
  <body>
    <!-- <nav class="navbar navbar-default" style="background-color: black">
      <div class="container">
        <div class="navbar-header">
          <i style="color: white" class="fa-sharp fa-solid fa-moon fa-4x"></i>
          <p style="color: white" class="logo navbar-brand">LUNA</p>
        </div>
          <ul class="nav navbar-nav navbar-right">
            <li class="title" id="home"><a style="color: white" href="/">HOME</a></li>
            <li class="title" id="accomodation"><a style="color: white" href="/accomodation">ACCOMODATION</a></li>
            <li class="title" id="dining"><a style="color: white" href="/dining">DINING</a></li>
            <li class="title" id="activities"><a style="color: white" href="/events">EVENTS</a></li>
            <li class="title" id="about"><a style="color: white" href="/about">ABOUT</a></li>
          </ul>
      </div>
    </nav> -->


        <div class="navbar">
          <nav>
            <div class="container">
              <div class="header">
              <h2 style="font-size: 50px;">LUNA</h2>
              <hr style="height:2px;width:70%;text-align:center;background-color:gray">
              </div>
              <div class="components" id="navbar">
                <ul class="header-components">
                  <li class="h-comp" id="home"><a href="/">Home</a></li>
                  <li class="h-comp" id="accomodation"><a href="/accomodation">Accommodation</a></li>
                  <li class="h-comp" id="dining"><a href="/dining">Dining</a></li>
                  <li class="h-comp" id="activities"><a href="/events">Events</a></li>
                  <li class="h-comp" id="about"><a href="/about">About</a></li>
                  <li class="h-comp" id="blog"><a href="/blog">Blog</a></li>
                  <li class="h-comp" id="career"><a href="/career">Careers</a></li>
                  <li class="h-comp" id="book"><a href="/book">Book Online</a></li>
                  <li class="h-comp" id="menu"><a href="/menu">Menus</a></li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
