<%- include("partials/header") -%>

<!-- <div class="lodge-container">
  <div class="lodge-heading"><h1>ABOUT US</h1></div>
  <div class="flex1">
    <div><img class="about1" src="https://images.pexels.com/photos/1456951/pexels-photo-1456951.jpeg?auto=compress&cs=tinysrgb&w=600" alt=""></div>
    <div><img class="about1" src="https://images.pexels.com/photos/1914984/pexels-photo-1914984.jpeg?auto=compress&cs=tinysrgb&w=600" alt=""></div>
    <div><img class="about1" src="https://images.pexels.com/photos/3730990/pexels-photo-3730990.jpeg?auto=compress&cs=tinysrgb&w=600" alt=""></div>
  </div>
 </div> -->

 <div class="home-header">
   <h1 style="font-size: 50px;">ABOUT</h1>
   <p style="font-size: 30px; font-family: 'Caramel', cursive;"></p>
 </div>


  <div class="carousel-container">
    <div class="container1">
      <div class="carousel">
        <div class="carousel__face"><span>LUNA</span></div>
        <div class="carousel__face"><span>LUNA</span></div>
        <div class="carousel__face"><span>LUNA</span></div>
        <div class="carousel__face"><span>LUNA</span></div>
        <div class="carousel__face"><span>LUNA</span></div>
        <div class="carousel__face"><span>LUNA</span></div>
        <div class="carousel__face"><span>LUNA</span></div>
        <div class="carousel__face"><span>LUNA</span></div>
        <div class="carousel__face"><span>LUNA</span></div>
      </div>
    </div>
  </div>


  <fieldset class="fieldset">
  <p>lorem50</p>
  </fieldset>
  <fieldset class="fieldset">
  <p>lorem50</p>
  </fieldset>
  <fieldset class="fieldset">
  <p>lorem50</p>
  </fieldset>
 <fieldset class="fieldset">
<p>lorem50</p>
</fieldset>


 <div class="lodge-content">
   <div class="urban">
     <h1 style="font-weight:bold;font-size:50px; font-weight:lighter;  font-family: 'Jost', sans-serif; color:black;">Our Culinary Journey</h1>
     <p style="font-size: 35px; font-weight:lighter; font-family: 'Caramel', cursive;">Uniquely Delicious Experience</p>
     <!-- <br> -->
     <p style="font-weight:lighter;">LUNA is a one-of-a-kind culinary establishment with a menu inspired by the idea of simple and honest cooking. Starting in 2000, we developed a unique dining experience for all of our guests using fresh and sustainable ingredients—taking you on a culinary journey like no other.</p>
     <!-- <br> -->
     <p style="font-weight:lighter;">From classic recipes to new-age kitchen adventures, each dish reflects our passion for high-quality food presented in a simple yet pleasing manner. Dive right in, and take a bite; join us today.</p>
   </div>
 </div>
 <div class="whoweare">
   <img style="width:100%; height:500px;" src="https://static.wixstatic.com/media/6513fd4591ae4fd885f9e918aac679be.jpg/v1/fill/w_980,h_575,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01,enc_auto/6513fd4591ae4fd885f9e918aac679be.jpg" alt="">
</div>

<fieldset class="fieldset">
<p>lorem50</p>
</fieldset>


 <div class="useful1">
  <h2>USEFUL DETAILS</h2>
  <h4>Everything you need to know before you travel to Luna Cape Town</h4>
  <hr style="height:2px;width:70%;text-align:center;background-color:gray">
</div>

        <div class="useful-details">
          <hr>
          <fieldset class="hi">
            <p>blank space</p>
          </fieldset>
          <div class="use1">
            <div class="col-lg-4">
              <h4>PASSPORT, VISA & VACCINATIONS</h4>
              <p>All persons are required to present a valid passport in order to enter South Africa. Passports must be valid for no less than 30 days after the end of your visit. An entry visa may be required by certain nationalities or in certain circumstances. For more up-to-date information on visa requirements, please click here.</p>
            </div>
            <div class="col-lg-4">
              <h4>WEATHER</h4>
              <p>Cape Town enjoys a four season Mediterranean climate with mild winters and warm summers: September–February (Spring/Summer) has an average temperature of 20°C/68°F; March–August (Autumn/Winter) has an average temperature of 17°C/63°F.</p>
            </div>
            <div class="col-lg-4">
              <h4>GDS CODES</h4>
              <p>Amadeus OOCPTOAO <br> Sabre OO105273 <br>Galileo OO10911 <br> Worldspan OOCPTOA <br> Pegasus OO23263</p>
            </div>
          </div>
        </div>
        <fieldset class="hi">
          <p>blank space</p>
        </fieldset>

        <div class="box2">
          <div class="use2">
            <div class="col-lg-4">
              <h4>LANGUAGE</h4>
              <p>English is the primary language spoken in One&Only Cape Town, followed closely by Afrikaans.</p>
            </div>
            <div class="col-lg-4">
              <h4>CURRENCY</h4>
              <p>South African Rand is the official currency of South Africa.</p>
            </div>
            <div class="col-lg-4">
              <h4>INTERNET</h4>
              <p>Limited complimentary WiFi access is available throughout the resort.</p>
            </div>
          </div>
        </div>

        <fieldset class="hi">
          <p>blank space</p>
        </fieldset>

        <div class="box3">
          <div class="use3">
            <div class="col-lg-4">
              <h4>TIME ZONE</h4>
              <p>Cape Town, South Africa is two (2) hours ahead of Greenwich Mean Time (GMT +2).</p>
            </div>
            <div class="col-lg-4">
              <h4>ELECTRICITY</h4>
              <p>Electricity is supplied at 220 volts. Adaptors are available.</p>
            </div>
            <div class="col-lg-4">
              <h4>CHECK-IN AND CHECK-OUT</h4>
              <p>Check-in is 2.00pm and check-out is 11.00am.</p>
            </div>
          </div>
        </div>

        <fieldset class="hi">
          <p>blank space</p>
        </fieldset>


        <%- include("partials/footer") -%>
