<%- include("partials/header") -%>

<!-- <div class="lodge-container">
  <div class="lodge-heading"><h1>ACCOMODATION</h1></div>
   <div class="flex1">
     <div><img class="lodge1" src="https://images.pexels.com/photos/3171204/pexels-photo-3171204.jpeg?auto=compress&cs=tinysrgb&w=600" alt=""></div>
     <div><img class="lodge1" src="https://images.pexels.com/photos/7530005/pexels-photo-7530005.jpeg?auto=compress&cs=tinysrgb&w=600" alt=""></div>
     <div><img class="lodge1" src="https://images.pexels.com/photos/7938043/pexels-photo-7938043.jpeg?auto=compress&cs=tinysrgb&w=600" alt=""></div>
   </div>
 </div> -->
 <div class="home-header">
   <h1 style="font-size: 50px;">ACCOMODATION</h1>
   <p style="font-size: 30px; font-family: 'Caramel', cursive;">For your Comfort</p>
 </div>


 <div class="carousel-container">
   <div class="container1">
     <div class="carousel">
       <div class="carousel__face"><span>LUNA</span></div>
       <div class="carousel__face"><span>LUNA</span></div>
       <div class="carousel__face"><span>LUNA</span></div>
       <div class="carousel__face"><span>LUNA</span></div>
       <div class="carousel__face"><span>LUNA</span></div>
       <div class="carousel__face"><span>LUNA</span></div>
       <div class="carousel__face"><span>LUNA</span></div>
       <div class="carousel__face"><span>LUNA</span></div>
       <div class="carousel__face"><span>LUNA</span></div>
     </div>
   </div>
 </div>


 <fieldset class="fieldset">
 <p>lorem50</p>
 </fieldset>
 <fieldset class="fieldset">
 <p>lorem50</p>
 </fieldset>
 <fieldset class="fieldset">
 <p>lorem50</p>
 </fieldset>
 <fieldset class="fieldset">
 <p>lorem50</p>
 </fieldset>


 <div class="lodge-content">
   <div class="urban">
     <h3 style="color:black;">YOUR URBAN ESCAPE</h3>
     <br>
     <p style="font-weight:lighter;">At the heart of the vibrant Victoria & Alfred Waterfront and framed by the majesty of
       Table Mountain, discover an urban escape surrounded by private waterways at our
       South African resort. Capturing the authentic essence of this dynamic hub, our
       Cape Town resort's stunning rooms and suites are the largest in the city.</p>
   </div>
 </div>


 <div class="normal-bed">
   <div class="row1">
     <div class="text-padding1 col-lg-4">
       <h3 style="color:black;">ROOMS</h3>
       <br>
       <p style="font-weight:lighter;">Cape Town’s most generous hotel rooms offer ample space to relax
          in our urban resort.Your private balcony offers inimitable views
          of Table Mountain, our magnificent Marina, or both</p>
          <br>
          <button class="btn" type="button">EXPLORE</button>
     </div>
     <div class="img-padding1 col-lg-8">
       <img src="https://images.pexels.com/photos/164595/pexels-photo-164595.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
     </div>
   </div>
 </div>
   <fieldset class="fieldset">
  <p>lorem50</p>
  </fieldset>

 <div class="suite-bed">
   <div class="row2">
     <div class="img-padding2 col-lg-8">
       <img src="https://images.pexels.com/photos/5860693/pexels-photo-5860693.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
     </div>
     <div class="text-padding2 col-lg-4">
       <h3 style="color:black;">SUITES</h3>
       <br>
       <p style="font-weight:lighter;">Sprawling indoor-outdoor private spaces with an elevated residential feel.
         Reconnect with family and friends in Cape Town’s
         largest suites, the perfect base from which to explore our vibrant city.</p>
        <br>
         <button class="btn" type="button" >EXPLORE</button>
     </div>
   </div>
 </div>

 <fieldset class="fieldset">
<p>lorem50</p>
</fieldset>

  <div class="mountain-suite">
    <div class="row3">
      <div class="text-padding3 col-lg-4">
        <h3 style="color:black;">TABLE MOUNTAIN SUITE</h3>
        <br>
        <h4 style="font-weight:lighter;">The elegance of our meticulously considered suite meets the incredible natural beauty of Table Mountain.</h4>
        <p style="font-weight:lighter;"> One&Only’s Table Mountain Suite treats guests to remarkable views of Cape Town’s majestic wonder, an exquisite view from your peaceful terrace in Marina Rise. Both exceptionally spacious and delightfully intimate, our exclusive suite ensures your complete comfort, whether you choose to unwind in privacy or entertain friends and family. With every nuance of the suite carefully crafted to play host to the unsurpassed comfort, tranquility and entertaining, the Table Mountain Suite is unrivalled in its offering.</p>
        <br>
          <button class="btn" type="button" name="button">EXPLORE</button>
      </div>
      <div class=" img-padding3 col-lg-8">
        <img src="https://images.pexels.com/photos/1457841/pexels-photo-1457841.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
      </div>
    </div>
  </div>

  <fieldset class="fieldset">
 <p>lorem50</p>
 </fieldset>

  <div class="presidential suite">
    <div class="row4">
      <div class="img-padding4 col-lg-8">
        <img src="https://images.pexels.com/photos/6394571/pexels-photo-6394571.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
      </div>
      <div class="text-padding4 col-lg-4">
        <h3 style="color:black;">PRESIDENTIAL SUITE</h3>
        <br>
        <h4 style="font-weight:lighter;" >A tranquil sanctuary that captures the authentic soul of Cape Town.</h4>
        <p style="font-weight:lighter;">Discover the privilege of Cape Town’s most iconic address. A celebration of the city’s breathtaking beauty and One&Only Cape Town’s unsurpassed attention to detail, our one-of-a-kind Presidential Suite welcomes you with its large living area, two spacious bedrooms and uninterrupted Cape Town views. Generous open-air terraces envelop your suite, revealing the pure majesty of Table Mountain. Perfect for families and groups of friends, here you can truly relax, with every wish fulfilled.</p>
        <br>
        <button class="btn" type="button" name="button">EXPLORE</button>
      </div>
    </div>
  </div>


  <fieldset class="fieldset">
  <p>lorem50</p>
  </fieldset>

  <%- include("partials/footer") -%>
