<%- include("partials/header") -%>

<div class="starters1">
  <h1 style="color: black; font-family: 'Jost', sans-serif;">All Posts</h1>
  <hr style="height:2px;width:70%;text-align:center;background-color:black;">
</div>

<div class="postings">
  <div class="blogposts">
    <div class="img-post">
       <img src="https://images.pexels.com/photos/1310522/pexels-photo-1310522.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
    </div>
    <div class="text-post">
        <h3 style="font-family: 'Jost', sans-serif;"><i class="fa-solid fa-user"></i> Luna</h3>
        <p style="font-size: 25px; font-family: 'Caramel', cursive;">Growing Our Community</p>
        <p style="font-family: 'Jost', sans-serif; font-weight: lighter;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>

  <div class="blogposts">
    <div class="img-post">
       <img src="https://images.pexels.com/photos/7820327/pexels-photo-7820327.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
    </div>
    <div class="text-post">
        <h3 style="font-family: 'Jost', sans-serif;"><i class="fa-solid fa-user"></i> Luna</h3>
        <p style="font-size: 25px; font-family: 'Caramel', cursive;">Growing Our Community</p>
        <p style="font-family: 'Jost', sans-serif; font-weight: lighter;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
  </div>

</div>
<fieldset class="fieldset">
<p>lorem50</p>
</fieldset>

<div class="postings">
  <div class="blogposts">
    <div class="img-post">
       <img src="https://images.pexels.com/photos/3661452/pexels-photo-3661452.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
    </div>
    <div class="text-post">
        <h3 style="font-family: 'Jost', sans-serif;"><i class="fa-solid fa-user"></i> Luna</h3>
        <p style="font-size: 25px; font-family: 'Caramel', cursive;">Growing Our Community</p>
        <p style="font-family: 'Jost', sans-serif; font-weight: lighter;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
  </div>

  <div class="blogposts">
    <div class="img-post">
       <img src="https://images.pexels.com/photos/6916770/pexels-photo-6916770.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
    </div>
    <div class="text-post">
        <h3 style="font-family: 'Jost', sans-serif;"><i class="fa-solid fa-user"></i> Luna</h3>
        <p style="font-size: 25px; font-family: 'Caramel', cursive;">Growing Our Community</p>
        <p style="font-family: 'Jost', sans-serif; font-weight: lighter;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
  </div>

</div>
<fieldset class="fieldset">
<p>lorem50</p>
</fieldset>
<fieldset class="fieldset">
<p>lorem50</p>
</fieldset>







<%- include("partials/footer") -%>
