<%- include("partials/header") -%>


<div class="upcoming" style="background-color:inherit; padding: 200px; text-align: center;">
  <p style="font-weight:lighter; font-size:25px; font-family: cursive; ">No job openings at the moment.</p>
</div>



<%- include("partials/footer") -%>
