<%- include("partials/header") -%>

    <!-- <div class="home-container">
      <div class="lodge-heading"><h1>THE DINING</h1></div>
       <div class="flex1">
         <div><img class="home1" src="https://images.pexels.com/photos/1410235/pexels-photo-1410235.jpeg?auto=compress&cs=tinysrgb&w=600" alt=""></div>
         <div><img class="home1" src="https://images.pexels.com/photos/1199957/pexels-photo-1199957.jpeg?auto=compress&cs=tinysrgb&w=600" alt=""></div>
         <div><img class="home1" src="https://images.pexels.com/photos/2097090/pexels-photo-2097090.jpeg?auto=compress&cs=tinysrgb&w=600" alt=""></div>
       </div>
     </div> -->
     <div class="home-header">
       <h1 style="font-size: 50px;">DINING</h1>
       <p style="font-size: 30px; font-family: 'Caramel', cursive;">For your Meals</p>
     </div>


      <div class="carousel-container">
        <div class="container1">
          <div class="carousel">
            <div class="carousel__face"><span>LUNA</span></div>
            <div class="carousel__face"><span>LUNA</span></div>
            <div class="carousel__face"><span>LUNA</span></div>
            <div class="carousel__face"><span>LUNA</span></div>
            <div class="carousel__face"><span>LUNA</span></div>
            <div class="carousel__face"><span>LUNA</span></div>
            <div class="carousel__face"><span>LUNA</span></div>
            <div class="carousel__face"><span>LUNA</span></div>
            <div class="carousel__face"><span>LUNA</span></div>
          </div>
        </div>
      </div>


      <fieldset class="fieldset">
      <p>lorem50</p>
      </fieldset>
      <fieldset class="fieldset">
      <p>lorem50</p>
      </fieldset>
      <fieldset class="fieldset">
      <p>lorem50</p>
      </fieldset>
     <fieldset class="fieldset">
    <p>lorem50</p>
    </fieldset>

     <div class="dining-box">
       <div><p style="font-weight:lighter;">Over 60 years since our founding, the availability of good ingredients
          has expanded, as have the expectations of our palates. Long gone are the days
          of freeze-dried green beans and corned beef from a can. Today, the
          plates of delicious food from our kitchen represent not only
           the quality ingredients available to us, but also our pride
           in creating an essential aspect of your stay at Camp Denali.</p></div>
           <fieldset class="fieldset">
          <p>lorem50</p>
          </fieldset>
      <div class="dining-centre">
        <div class="images-dining">
          <div><img class="img-dining1" src="https://images.pexels.com/photos/5847181/pexels-photo-5847181.jpeg?auto=compress&cs=tinysrgb&w=600" alt=""></div>
          <div><img class="img-dining1" src="https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?auto=compress&cs=tinysrgb&w=600" alt=""></div>
          <!-- <div><img class="img-dining1" src="https://images.pexels.com/photos/14392113/pexels-photo-14392113.jpeg?auto=compress&cs=tinysrgb&w=600" alt=""></div> -->
          <div><img class="img-dining2" src="https://images.pexels.com/photos/14434451/pexels-photo-14434451.jpeg?auto=compress&cs=tinysrgb&w=600" alt=""></div>
          
        </div>
        <div class="images-dining">
          <!-- <div><img class="img-dining2" src="https://images.pexels.com/photos/14434451/pexels-photo-14434451.jpeg?auto=compress&cs=tinysrgb&w=600" alt=""></div> -->
          <div><img class="img-dining2" src="https://images.pexels.com/photos/1853812/pexels-photo-1853812.jpeg?auto=compress&cs=tinysrgb&w=600" alt=""></div>
          <!-- <div><img class="img-dining2" src="https://images.pexels.com/photos/14434451/pexels-photo-14434451.jpeg?auto=compress&cs=tinysrgb&w=600" alt=""></div> -->
          <div><img class="img-dining1" src="https://images.pexels.com/photos/14392113/pexels-photo-14392113.jpeg?auto=compress&cs=tinysrgb&w=600" alt=""></div>
          <div><img class="img-dining1" src="https://images.pexels.com/photos/1279330/pexels-photo-1279330.jpeg?auto=compress&cs=tinysrgb&w=600" alt=""></div>
        </div>
      </div>
      <fieldset class="fieldset">
     <p>lorem50</p>
     </fieldset>
      <div><p style="font-weight:lighter;">In spite of our remote setting, we cultivate a high standard and commitment to good food. From our greenhouse we gather fresh lettuce, tomatoes, cucumbers,
        and herbs, as well as edible and decorative flowers. Each day our bakery produces
        delectable breads, cookies, pastries, and desserts. From the tundra we gather and preserve
         berries for you to enjoy as jams and syrups. </p></div>

     </div>
     <fieldset class="fieldset">
    <p>lorem50</p>
    </fieldset>

     <div class="normal-bed">
       <div class="row1">
         <div class="text-padding1 col-lg-4">
           <h3 style="color:black;">PRIVATE DINING</h3>
           <br>
           <p style="font-weight:lighter;">Anything is possible when you co-create with One&Only Cape Town's private dining team. Under their expert eye, your dream dining experience will be seamlessly
              fulfilled to your exact vision. Whether you desire an unforgettable, intimate dinner for two framed
              by the majestic Table Mountain, or an in-suite breakfast extravaganza, we’ll make it happen</p>
              <br>
              <button class="btn" type="button">EXPLORE</button>
         </div>
         <div class="img-padding1 col-lg-8">
           <img src="https://images.pexels.com/photos/1571463/pexels-photo-1571463.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
         </div>
       </div>
     </div>
     <fieldset class="fieldset">
    <p>lorem50</p>
    </fieldset>

<%- include("partials/footer") -%>
