<%- include("partials/header") -%>

<!-- <div class="home-container">
  <div class="lodge-heading"><h1>THE EVENTS</h1></div>
  <div class="flex1">
    <div><img class="home1" src="https://images.pexels.com/photos/1589820/pexels-photo-1589820.jpeg?auto=compress&cs=tinysrgb&w=600" alt=""></div>
    <div><img class="home1" src="https://images.pexels.com/photos/14312758/pexels-photo-14312758.jpeg?auto=compress&cs=tinysrgb&w=600" alt=""></div>
    <div><img class="home1" src="https://images.pexels.com/photos/3540375/pexels-photo-3540375.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""></div>
  </div
 </div> -->
 <div class="home-header">
   <h1 style="font-size: 50px;">EVENTS</h1>
   <p style="font-size: 30px; font-family: 'Caramel', cursive;">For your ease</p>
 </div>


  <div class="carousel-container">
    <div class="container1">
      <div class="carousel">
        <div class="carousel__face"><span>LUNA</span></div>
        <div class="carousel__face"><span>LUNA</span></div>
        <div class="carousel__face"><span>LUNA</span></div>
        <div class="carousel__face"><span>LUNA</span></div>
        <div class="carousel__face"><span>LUNA</span></div>
        <div class="carousel__face"><span>LUNA</span></div>
        <div class="carousel__face"><span>LUNA</span></div>
        <div class="carousel__face"><span>LUNA</span></div>
        <div class="carousel__face"><span>LUNA</span></div>
      </div>
    </div>
  </div>


  <fieldset class="fieldset">
  <p>lorem50</p>
  </fieldset>
  <fieldset class="fieldset">
  <p>lorem50</p>
  </fieldset>
  <fieldset class="fieldset">
  <p>lorem50</p>
  </fieldset>
 <fieldset class="fieldset">
<p>lorem50</p>
</fieldset>


<div class="normal-bed">
  <div class="row1">
    <div class="text-padding1 col-lg-4">
      <h3>YOUR CAPE TOWN WEDDING & HONEYMOON</h3>
      <br>
      <p style="font-weight:lighter;">Our luxury resort is the ideal location for thoughtful proposals,
        cherished wedding vows and thrilling honeymoons. Say ‘I do’, in our
         picture-perfect Cape Town wedding venues, or hideaway on your intimate
         honeymoon, enveloped by epic Table Mountain vistas.</p>
         <br>
         <button class="btn" type="button">EXPLORE</button>
    </div>
    <div class="img-padding1 col-lg-8">
      <img src="https://images.pexels.com/photos/11994904/pexels-photo-11994904.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
    </div>
  </div>
</div>
  <fieldset class="fieldset">
 <p>lorem50</p>
 </fieldset

       <div class="suite-bed">
         <div class="row2">
           <div class="img-padding2 col-lg-8">
             <img src="https://images.pexels.com/photos/460537/pexels-photo-460537.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
           </div>
           <div class="text-padding2 col-lg-4">
             <h3>SEAMLESS CORPORATE EVENTS IN CAPE TOWN</h3>
             <br>
             <p style="font-weight:lighter;">Host inspirational conferences, key-note addresses, and well-earned rewards; allow our Cape Town
                conference and business event venues to foster fresh ideas and smart thinking. Be energised and excited by stunning scenery, versatile spaces and impeccable service.
                Motivate your guests and cultivate new connections, while we look after you.</p>
              <br>
               <button class="btn" type="button" >EXPLORE</button>
           </div>
         </div>
       </div>
   <fieldset class="fieldset">
  <p>lorem50</p>
  </fieldset

  <div class="normal-bed">
    <div class="row1">
      <div class="text-padding1 col-lg-4">
        <h3 style="color:black;">YOUR WINTER HIDEAWAY</h3>
        <br>
        <p style="font-weight:lighter;">One&Only Cape Town is the place to be this winter, as we warm up your days
           and nights with an array of soul-soothing experiences. Gather your family
            and friends for Christmas in July festivities, indulgent
           cooking classes, and joy-filled activities for little ones.</p>
           <br>
           <button class="btn" type="button">EXPLORE</button>
      </div>
      <div class="img-padding1 col-lg-8">
        <img src="https://images.pexels.com/photos/5775062/pexels-photo-5775062.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
      </div>
    </div>
  </div>
    <fieldset class="fieldset">
   <p>lorem50</p>
   </fieldset>





<%- include("partials/footer") -%>
