<%- include("partials/header") -%>


<div class="home-header">
  <h1>Welcome To LUNA</h1>
  <p style="font-size: 30px; font-family: 'Caramel', cursive;">Bold Flavor</p>
</div>

<div class="carousel-container">
  <div class="container1">
    <div class="carousel">
      <div class="carousel__face"><span>LUNA</span></div>
      <div class="carousel__face"><span>LUNA</span></div>
      <div class="carousel__face"><span>LUNA</span></div>
      <div class="carousel__face"><span>LUNA</span></div>
      <div class="carousel__face"><span>LUNA</span></div>
      <div class="carousel__face"><span>LUNA</span></div>
      <div class="carousel__face"><span>LUNA</span></div>
      <div class="carousel__face"><span>LUNA</span></div>
      <div class="carousel__face"><span>LUNA</span></div>
    </div>
  </div>
</div>


<fieldset class="fieldset">
<p>lorem50</p>
</fieldset>
<fieldset class="fieldset">
<p>lorem50</p>
</fieldset>
<fieldset class="fieldset">
<p>lorem50</p>
</fieldset>
<fieldset class="fieldset">
<p>lorem50</p>
</fieldset>

<div style="padding-left:20px; padding-top: 20px; padding-bottom: 20px; background-color: inherit" class="jumbotron">
  <h1 class="display-4">Uh oh!</h1>
  <p class="lead">There was a problem signing you up. Please try again or contact the developer!</p>
   <form  action="/failure" method="post">
     <button class="btn" type="submit" name="button">Try again </button>
   </form>
</div>





<%- include("partials/footer") -%>
