<%- include("partials/header") -%>

      <div class="lunch-menu">
        <h1 style="color: black; font-family: 'Jost', sans-serif;">Menu</h1>
        <p style="font-size:15px; font-family:cursive;">Served daily between 12-5pm</p>
      </div>

      <div class="starters1">
        <h1 style="color: black; font-family: 'Jost', sans-serif;"></h1>
        <hr style="height:2px;width:70%;text-align:center;background-color:black;">
      </div>

      <div style="text-align:center; padding: 50px 0px;" class="menu">
          <img  src="http://www.canvagraphicdesign.com/wp-content/uploads/2022/05/RM1.jpg" alt="">
      </div>




<%- include("partials/footer") -%>
